@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* ==================general================= */
h2{
    text-transform: uppercase;
    font-size: 50px;
    font-family:"Exo" ;
}
h3{
    font-family:"Exo";
    font-size: 30px;
}
p{
    font-family: "Special Elite";
    line-height: 25px;
}
/* ==============header======================= */
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    display: inline-block;
    text-align: right;
    margin-left: 0px;
    background-color:#ffffff;
}
nav li{
    display: inline-block;
}
nav a{
    padding: 25px;
    display: inline-block;
    text-decoration: none;
    color: black;  
    font-size: 20px;
}
nav a:hover{
    font-size: 35px;
    color: rgb(27, 71, 27)
}
.first{
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
   
}
.first img{
   margin-top: 300px;
}
/* ===========================section1================= */
.hello{
    width: 30vw;
    margin-left: 100px;
    padding: 120px 0px;
    line-height: 25px;
    background-image: url(../img/beans_icon.png);
    background-position: 20% 40%;
    background-size: cover;
}
.firstattachment{
    background-image: url(../img/bridge_1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
}
.hello h2{
    padding-bottom: 30px;
}
/* ========================= id menu ===================== */
#menu{
background: url(../img/cake_icon.png);
    padding: 100px 0px;
   text-align: center;
    background-position: 30% 80%;
    
    
}
.submenu{
    width: 40vw;
    margin-left:30%;
}
#menu img{
    width: 4vw;
    padding: 3px; 
}
#menu article {
    width: 25vw;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    display:inline-block;
}
.secondattachment{
    background-image: url(../img/bridge_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
}
/* =================id story================== */
#story{
    padding: 100px 0px;

}
.storytext{
    width: 25vw;
    margin-left: 20%;
    display: block;
}
#story img{
  width: 35vw;
   margin-left:50%;
   margin-top: 5%;
   display: inline-block;
   margin-top: -30%;
   vertical-align: middle;
}
.triattachment{
  margin-top: 100px;
  background-image: url(../img/bridge_3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 500px;
}
/* ==============id catering================== */
#catering{
    padding: 100px 0px;
    background:url(../img/pie_icon.png) no-repeat;
    background-position: 80% 70%;
    background-size: 30%;
}
.cateringtext{
    width: 25vw;
    margin-left: 20%;
    padding-bottom: 100px;
    vertical-align: middle;
}
#catering img{
width: 30vw;
 margin-left: 50%;
 margin-bottom: -19%;
 
}
.fourattachment{
    background-image: url(../img/bridge_4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:500px;
    background-attachment: fixed;
}
/* ================id cakes================== */
section:last-of-type{
background: url(../img/muffin_icon.png) no-repeat;
padding: 100px 0px;
display: flex;
background-position: 5% 60%;
background-size: 30%;
}
section:last-of-type img{
  height: 25vh;
    margin-left: 20%;
    margin-top: 1%;;
}
#cakes{
    width: 25vw;
    margin-left: 5%;
}
/* ===================footer========= */
footer{
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5%;
}
footer img{
    width: 3%;
    display: block;
    margin-left: 50%;
}




